@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  transition: 5ms;
  color: white;
}

a {
  text-decoration: none;
}

body {
  background: rgb(105, 81, 2);
  background: linear-gradient(
    90deg,
    rgba(105, 81, 2, 1) 0%,
    rgba(107, 5, 2, 1) 50%,
    rgba(77, 1, 96, 1) 100%
  );
}

.headerInHome {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("hexa_dan_wave_10.jpg");
  height: 30rem;
}

.headerOutsideHome {
  background-color: black;
  padding: 1rem 0;
}

.headerOutsideHome h1 {
  margin: 1rem;
}

.spacer {
  font-size: 2rem;
  margin: 0 0 0 2rem;
}

.otherTitle {
  text-shadow: 0.2rem 0.2rem #582688;
}

.siteAbout {
  margin: 0 0 0 1rem;
}

.title {
  margin-top: 3rem;
  font-size: 2.5rem;
  color: white;
  text-shadow: 0.2rem 0.2rem #582688;
}

.menuHolder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 10rem;
  right: 1rem;
  height: 100%;
  width: 12rem;
}

.menuButton {
  padding: 1rem;
  background-color: #1b1b1b;
  color: white;
  box-shadow: 0.125rem 0.125rem gray;
  transition: 5ms;
}

.contentBox {
  border-style: solid;
  color: #582688;
  margin: 10rem 18rem 0 13rem;
  box-shadow: 0.25rem 0.25rem #1b1b1b;
  min-width: 20rem;
  max-width: 90rem;
}

.contentBox p {
  font-size: 1.25rem;
  color: white;
  margin: 1rem;
}

.contentBox h2 {
  text-shadow: 0.2rem 0.2rem #582688;
  color: white;
  margin: 1rem;
}

.summery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0 0 0;
  color: white;
  text-align: center;
}

.summery h2 {
  text-shadow: 0.1rem 0.1rem gray;
  color: white;
  margin: 1rem;
}

.summery p {
  color: white;
  margin: 1rem;
}

.homeMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outsideHomeMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progression {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  width: 80vw;
  color: white;
  justify-content: space-evenly;
  margin: 5rem 2rem 2rem 2rem;
}

.progressionBox {
  flex-direction: column;
  text-align: center;
  width: 20rem;
  margin: 1rem;
}

.progressImg {
  margin: 5rem 0 5rem 0;
  border-radius: 10rem;
}
@media screen and (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    transition: 5ms;
  }

  .menuHolder {
    display: flex;
    align-items: center;
    min-width: 100vw;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: rgb(59, 59, 59);
    position: inherit;
  }

  .menuButton {
    min-width: 22.5rem;
    text-align: center;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
    background-color: rgb(59, 59, 59);
    color: white;
    box-shadow: none;
  }

  .progression {
    display: flex;
    flex-direction: column;
    margin: 10rem;
    color: white;
    align-items: center;
  }

  .progressionBox {
    flex-direction: column;
    text-align: center;
    width: 20rem;
    margin-top: 6rem;
  }
}

.backgroundReasons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 2rem;
  color: white;
  justify-content: space-evenly;
  margin: 5rem 2rem 2rem 2rem;
}

.backgroundReasonDiv {
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  width: 25rem;
  margin: 3rem;
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: 2rem;
}

.backgroundReasonDiv2 {
  flex-direction: column;
  text-align: center;
  width: 25rem;
  margin: 3rem;
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: 2rem;
}

.backgroundReasons p {
  width: 20rem;
  margin: 0 2rem;
}

.learnMore {
  background: none;
  border: none;
}

.moreInterest {
  display: none;
}

.moreInterest--show {
  margin-top: 1rem;
  display: inline-block;
}

.learnMore:hover {
  outline: white solid 0.1rem;
}

.points {
  display: inline;
}
